.chatBotHeader {
  top: 0 !important;
  left: 0 !important;
  transform: none !important;
  background-color: #13448f;
}
.chatBotInner {
  padding: 10px 10px 10px 10px;
}
.chatBotHeaderTitle {
  font-size: 18px;
  color: #fff;
  text-align: left !important;
  font-weight: bold;
}

/**Stylings For The ChatBot Message Area**/
#chatBotBody {
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  padding: 10px 10px 0 10px;
  background-color: #f8f8f8 !important;
  overscroll-behavior-y: contain;
  height: 100%;
  max-height: calc(100% - 92px);
}

.messageInner {
  width: 100%;
  min-height: calc(100% + 1px);
  padding-bottom: 26px;
}

.messageDate {
  color: #333 !important;
  background: #fff;
  display: table;
  margin: 10px auto;
  padding: 3px 10px;
  border-radius: 10px;
  font-size: 14px;
}

/**Message Container Stylings**/

.messageContainer {
  display: flex;
  padding: 0;
  color: #363636;
  line-height: 16px;
}

.messageContainer:last-child {
  margin-bottom: 16px;
}

.botThumbnailLeft {
  margin-right: 10px;
}
.botThumbnailLeft {
  flex-grow: 0;
  flex-shrink: 0;
  flex: 25%;
}

.image {
  display: block;
  position: relative;
}

.botIcon {
  border: none !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 0% !important;
}

.messageBoxRightContainer {
  padding: 4px 0 0 10px;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
}

.messageBoxContainerContent {
  background: #fff !important;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  box-shadow: none;
  display: inline-block;
  color: #4a4a4a;
  font-size: 14px;
}

.messageBoxContainerContent:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 8px 7px 0;
  display: flex;
  width: 0;
  top: 10px;
  border-color: rgba(0, 0, 0, 0) #f8f8f8;
  z-index: 1;
  left: -8px;
}

/**Input Area**/
#inputAreaBox {
  display: flex;

  border-top: solid 2px #ddd;
}

.inputAreaBox {
  flex: 85%;
  background-color: white;
  padding: 14px 8px 0;
}

.sendInputMessage {
  flex: 15%;
  background-color: #0086d9;
  color: white;
  font-size: 18px;
}
